<header class="header-site light-theme" role="banner">
    <div class="">
        <nav class="nav-product">
            <ul>
                <ul class="">
                    <li>
                        <a class="nexus-home" href="/nexus/">Language Exchange</a>
                    </li>
                    <li>
                        <a class="nav-5" href="/nexus/5x/">5X</a>
                    </li>
                    <li>
                        <a class="nav-6" href="/nexus/6p/">6P</a>
                    </li>
                    <li>
                        <a class="nav-9" href="/nexus/9/">9</a>
                    </li>
                    <li>
                        <a class="nav-player" href="/nexus/player/">Player</a>
                    </li>
                </ul>
            </ul>
        </nav>

        <a class="support-link uppercase" href="https://support.google.com/nexus/?hl=en#topic=3415518">Support</a>
    </div>
</header>